.page {
  background: #093C5D;
  min-height: 100vh;
  padding: 40px 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.page-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #0f172a;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.card {
  background: #ffffff;
  padding: 2%;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: auto;
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.card2 {
  background: #ffffff;
  padding: 2%;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: auto;
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.feedback-list {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(1450px, 1fr));
  gap: 20px;
  background-color: #3B7597;
  border: 2px solid black;
}